<div class="nested-fields">
    <p class="col-md-12"><strong class="col-md-4"><%= f.label :ator_id %></strong>
    <%= f.text_field :ator_id, class: "col-md-6" %>
      <%= link_to_remove_association('Remover', f , class: "col-md-2 pull-right") %></p>
</div>
